* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}



.header h1 {
    font-size: 2.5rem;
}

.header p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.btn {
    background-color: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ddd;
}

.products {
    padding: 50px 0;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
}

.product-card h3 {
    margin: 15px 0;
}

.price {
    font-size: 1.5rem;
    color: #4CAF50;
    margin: 10px 0;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
body {
    font-family: Arial, sans-serif; /* Thay đổi font chữ */
    background-color: #7096bb; /* Màu nền nhẹ */
}
.navbar-nav .nav-link {
    color: #495057;
    font-weight: 500;
    z-index: 1000;
}
.navbar-nav .nav-link:hover {
    color: #007bff;
}
.hero-section {
    padding: 3rem 0;
    display: flex;
    align-items: center;
}
.hero-section h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #333; /* Màu chữ tối */
}
.hero-section p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #555; /* Màu chữ trung bình */
}
.featured-products {
    padding: 3rem 0;
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Tỷ lệ 16:9 */
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.highlight {
    background-color: #0d1d2d; /* Nền sáng nhẹ để làm nổi bật */
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    text-align: center; /* Căn giữa nội dung */
}
.highlight img {
    max-width: 100%; /* Đảm bảo ảnh không vượt quá chiều rộng của ô */
    height: auto; /* Giữ tỷ lệ khung hình */
}