
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.login-button {
    margin-left: auto;
}

.login-button a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
}


main {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: #f1f1f1;
    padding: 20px;
    width: 200px;
}

.sidebar .link {
    margin-bottom: 10px;
}

.content {
    flex: 1;
    padding: 20px;
}

.ads {
    background-color: #f1f1f1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.ad {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.ad:hover {
    background-color: #0069d9;
    transform: scale(1.1); 
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .sidebar, .ads {
        width: auto;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        margin-top: 10px;
    }
}